body {
  background-color: white;
}
.center{
  margin: justify;
  width: 60%;
  padding: 10px;
}
h1 {
  color: black;
  text-align: justify;
  font-size: 70px;
  font-family: Arial, Helvetica, san-serif;
}
h1 {
  margin: auto;
}

p {
  font-family: Arial, Helvetica, san-serif;;
  font-size: 14px;
  text-align: left;
}
p {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

a:link {
  color: black;
}

a: hover {
  color: sky-blue;
}

a: visited {
  color: black;
}
